
/*font-family: 'Playfair Display', serif;
font-family: 'Work Sans', sans-serif;*/
body {
  font-family: 'Work Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  text-align:center;
  padding:none;
}

#header {
    background-image: url("../images/background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height:100vh;
}


.copy {
  background-color: rgba(255,255,255,0.8);
  padding: 25px;
  width:600px;
  margin: 0 auto;
  overflow: scroll;
}


h1 {
  font-family: 'Playfair Display', serif;
  font-weight:900;
}

h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

strong {
  text-transform: uppercase;
  letter-spacing: .02em;
}
